[Unit]
Description=Service Controller
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/decision_data
Environment="PATH=/root/decision_data/venv/bin"
ExecStart=/root/decision_data/venv/bin/python /root/decision_data/decision_data/backend/services/controller.py
Restart=on-failure

[Install]
WantedBy=multi-user.target